<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.securityclass.mapper.SystemMapper">
    <insert id="addNewInterface">
        insert into sys_menu
        values (null, #{menuName}, #{path}, 0, #{permKey}, 0, null);
    </insert>
    <insert id="distributeAuthority">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach collection="list" item="roleMenu" separator=",">
            <choose>
                <when test="roleMenu.path.startsWith('/admin')">
                    (1, #{roleMenu.id})
                </when>
                <otherwise>
                    (1,#{roleMenu.id}),
                    (2, #{roleMenu.id})
                </otherwise>
            </choose>
        </foreach>
    </insert>
    <update id="deleteInterface">
        update sys_menu
        set del_flag = 1
        where id = #{id}
    </update>


    <select id="getAllInterface" resultType="com.example.securityclass.entity.SysMenu">
        select *
        from sys_menu
        where del_flag = 0
    </select>

    <select id="queryMenuWhichAdded" resultType="com.example.securityclass.entity.SysRoleMenu">
        select *
        from sys_role_menu
    </select>
</mapper>