<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.securityclass.mapper.UserMapper">
    <insert id="register" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.example.securityclass.entity.SysUser">
        insert into sys_user (user_name, password, status, email, sex, phonenumber, create_time)
        values (#{userName}, #{password}, #{status}, #{email}, #{sex}, #{phonenumber}, NOW())
    </insert>
    <insert id="addNewUsersRole">
        insert into sys_user_role
        values (#{userId}, 2)
    </insert>
    <select id="loadUserByUsername" resultType="com.example.securityclass.entity.SysUser">
        select *
        from sys_user
        where user_name = #{username}
    </select>


    <select id="queryAuthoritiesByUserId" resultType="java.lang.String">
        select perm_key
        from sys_menu
        where id in (select DISTINCT menu_id
                     from sys_role_menu
                     where role_id in
                           (select sys_user_role.role_id
                            from sys_user_role
                                     inner join sys_user on sys_user_role.user_id = sys_user.id
                                     inner join sys_role on sys_user.id = sys_user_role.user_id
                            where sys_user.id = #{id}
                              and sys_menu.status = 0
                              and sys_role.`status` = 0));
    </select>

    <select id="queryPermissionByUrl" resultType="java.lang.String">
        select perm_key
        from sys_menu
        where path = #{url};
    </select>

    <select id="queryAllUser" resultType="com.example.securityclass.entity.SysUser">
        select *
        from sys_user
    </select>

    <select id="queryUserPageByUserId" resultType="com.example.securityclass.entity.SysPage">
        SELECT sp.id, sp.router_url, sp.permission
        FROM sys_page sp
                 INNER JOIN sys_user su ON (
                    su.id = #{id} AND FIND_IN_SET(CAST(su.user_type AS CHAR), sp.permission) > 0
            );
    </select>


    <resultMap id="userMenuVoMap" type="com.example.securityclass.vo.UserMenuVO">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="nickName" column="nick_name"></result>
        <result property="password" column="password"></result>
        <result property="status" column="status"></result>
        <result property="email" column="email"></result>
        <result property="phonenumber" column="phonenumber"></result>
        <result property="sex" column="sex"></result>
        <result property="avatar" column="avatar"></result>
        <result property="userType" column="user_type"></result>
        <result property="createTime" column="create_time"></result>
        <result property="delFlag" column="del_flag"></result>
        <association property="roleVO" javaType="com.example.securityclass.vo.RoleVO">
            <id property="id" column="id(1)"></id>
            <result property="name" column="name"></result>
            <result property="roleKey" column="role_key"></result>
            <result property="status" column="status(1)"></result>
            <result property="delFlag" column="del_flag(1)"></result>
            <result property="remark" column="name"></result>
            <collection property="menuList" javaType="com.example.securityclass.entity.SysMenu">
                <id property="id" column="id(2)"></id>
                <result property="menuName" column="menu_name"></result>
                <result property="path" column="path"></result>
                <result property="status" column="status(2)"></result>
                <result property="permKey" column="perm_key"></result>
                <result property="delFlag" column="del_flag(2)"></result>
                <result property="remark" column="remark(1)"></result>
            </collection>
        </association>

    </resultMap>
    <select id="queryUserMenu" resultMap="userMenuVoMap">
        select sys_user.*,
               sys_role.*,
               sys_menu.*
        from sys_user
                 left join sys_user_role on sys_user.id = sys_user_role.user_id
                 left join sys_role on sys_role.id = sys_user_role.role_id
                 left join sys_role_menu on sys_user_role.role_id = sys_role_menu.role_id
                 left join sys_menu on sys_role_menu.menu_id = sys_menu.id
        where sys_user.id = #{id}
    </select>
</mapper>